<!--Navbar-->

<nav class="navbar fixed-top navbar-expand-lg navbar-light blue-gradient">

  <div class="container">

    <a class="navbar-brand text-white font-weight-bold" routerLink="/index">File Space</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-effect text-white"  >Link 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect text-white" >Link 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect text-white" >Link 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect text-white" >Link 4</a>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link text-white dropdown-toggle waves-light" mdbWavesEffect>
            Select Language<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a id="language-english" class="dropdown-item waves-light" mdbWavesEffect href="#">English</a>
            <a id="language-ukraine" class="dropdown-item waves-light" mdbWavesEffect href="#">Ukraine</a>
            <a id="language-russian" class="dropdown-item waves-light" mdbWavesEffect href="#">Russian</a>
          </div>
        </li>

      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons mt-1">
        <li class="nav-item">
          <a href="https://github.com/" class="nav-link waves-effect"
             target="_blank">
            <i class="fab fa-github text-white"></i>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/login"
             class="nav-link border border-light text-white rounded waves-effect px-4 mr-2">
            Sign In
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/index"
             class="nav-link border border-light text-white rounded waves-effect mr-2">
            Sign Up
          </a>
        </li>
      </ul>

    </div>

  </div>

</nav>

<!--/.Navbar-->

<!-- Main -->

<main class="mt-5">
  <div class="container" style="height:1500px;">
    <div class="row pt-5">
      <div class="col text-center">
        <!--router-outlet-->
        <router-outlet>

        </router-outlet>
      </div>
    </div>
  </div>
</main>

<!--/Main-->

<!--Footer-->
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Footer Content</h5>
        <p>Here you can use rows and columns to organize your footer content.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
     Viaceslav Bondarchuk & Yaroslav Diadiuk
  </div>
  <!-- Copyright -->

</footer>

<!--./Footer-->
