.ng-valid, .ng-valid.required  {
  border-left: 5px solid deepskyblue; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #f53b7c; /* red */
}

ng-dirty:not(form) {
  border-left: 5px solid #f53b7c; /* red */
}

.border-rounded {
  border-radius: 20px;
}

.button-gradient-purple {background-image: linear-gradient(to right, #2BC0E4 0%, #EAECC6  51%, #2BC0E4  100%)}
.button-gradient-purple  {
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;

}

.button-gradient-purple:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
